<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow cellular downloads</string>
			<key>Key</key>
			<string>allowCellularDownloads</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Remove finished downloads</string>
			<key>Key</key>
			<string>removeFinishedDownloads</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Force 1:1 aspect ratio</string>
			<key>Key</key>
			<string>forceAspectRatio</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Group audiobooks in series</string>
			<key>Key</key>
			<string>groupAudiobooksInSeries</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Replace volume with total progress</string>
			<key>Key</key>
			<string>replaceVolumeWithTotalProgress</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Home</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show &quot;authors&quot;</string>
			<key>Key</key>
			<string>showAuthorsRow</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hide &quot;discover&quot;</string>
			<key>Key</key>
			<string>hideDiscoverRow</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Playback</string>
			<key>FooterText</key>
			<string>Smart rewind will skip back ten seconds when playback was inactive for longer than ten minutes.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show progress in chapter</string>
			<key>Key</key>
			<string>enableChapterTrack</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Smart rewind</string>
			<key>Key</key>
			<string>enableSmartRewind</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Generate up next queue</string>
			<key>Key</key>
			<string>generateUpNextQueue</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Sleep timer</string>
			<key>FooterText</key>
			<string>The Sleep-Timer will be extended if you press play up to 15 seconds after it expires.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fade sleep timer out</string>
			<key>Key</key>
			<string>sleepTimerFadeOut</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Shake extends Sleep-Timer</string>
			<key>Key</key>
			<string>shakeExtendsSleepTimer</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Play extends Sleep-Timer</string>
			<key>Key</key>
			<string>extendSleepTimerOnPlay</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip backwards interval </string>
			<key>Key</key>
			<string>skipBackwardsInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>5 seconds</string>
				<string>10 seconds</string>
				<string>15 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
				<string>75 seconds</string>
				<string>90 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
				<string>75</string>
				<string>90</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip forwards interval</string>
			<key>Key</key>
			<string>skipForwardsInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>5 seconds</string>
				<string>10 seconds</string>
				<string>15 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
				<string>75 seconds</string>
				<string>90 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
				<string>75</string>
				<string>90</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Advanced</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable serif font</string>
			<key>Key</key>
			<string>enableSerifFont</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show single-entry grouped series</string>
			<key>Key</key>
			<string>showSingleEntryGroupedSeries</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show progress in %</string>
			<key>Key</key>
			<string>itemImageStatusPercentageText</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Lock seek bar</string>
			<key>Key</key>
			<string>lockSeekBar</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Ultra high quality images</string>
			<key>Key</key>
			<string>ultraHighQuality</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
</dict>
</plist>
