<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Home</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show &quot;authors&quot;</string>
			<key>Key</key>
			<string>showAuthorsRow</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Hide &quot;discover&quot;</string>
			<key>Key</key>
			<string>disableDiscoverRow</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Delete finished downloads</string>
			<key>Key</key>
			<string>deleteFinishedDownloads</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable serif titles</string>
			<key>Key</key>
			<string>useSerifFont</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show progress in %</string>
			<key>Key</key>
			<string>itemImageStatusPercentageText</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Force 1:1 aspect ratio</string>
			<key>Key</key>
			<string>forceAspectRatio</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Playback</string>
			<key>FooterText</key>
			<string>The Sleep->Timer will be extended if you press play up to 10 seconds after it expires.
Smart rewind will skip back ten seconds when playback was inactive for longer than ten minutes.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show progress in chapter</string>
			<key>Key</key>
			<string>enableChapterTrack</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Lock seek bar</string>
			<key>Key</key>
			<string>lockSeekBar</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Fade sleep timer out</string>
			<key>Key</key>
			<string>sleepTimerFadeOut</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Play extends Sleep-Timer</string>
			<key>Key</key>
			<string>extendSleepTimerOnPlay</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Smart rewind</string>
			<key>Key</key>
			<string>smartRewind</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip backwards interval </string>
			<key>Key</key>
			<string>skipBackwardsInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>15 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip forwards interval</string>
			<key>Key</key>
			<string>skipForwardsInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>15 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Playback speed adjustment</string>
			<key>Key</key>
			<string>playbackSpeedAdjustment</string>
			<key>DefaultValue</key>
			<string>0.25</string>
			<key>Titles</key>
			<array>
				<string>10%</string>
				<string>25%</string>
				<string>30%</string>
				<string>50%</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.1</string>
				<string>0.25</string>
				<string>0.3</string>
				<string>0.5</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sleep-Timer adjustment</string>
			<key>Key</key>
			<string>sleepTimerAdjustment</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>Titles</key>
			<array>
				<string>30 seconds</string>
				<string>60 seconds</string>
				<string>90 seconds</string>
				<string>2 minutes</string>
			</array>
			<key>Values</key>
			<array>
				<string>30</string>
				<string>60</string>
				<string>90</string>
				<string>120</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Stop playback after</string>
			<key>Key</key>
			<string>endPlaybackTimeout</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>Values</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>30</string>
				<string>60</string>
				<string>-1</string>
			</array>
			<key>Titles</key>
			<array>
				<string>10 minutes</string>
				<string>20 minutes</string>
				<string>30 minutes</string>
				<string>60 minutes</string>
				<string>Never</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Queue</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Queue next episodes</string>
			<key>Key</key>
			<string>queueNextEpisodes</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Queue audiobook series</string>
			<key>Key</key>
			<string>queueNextAudiobooksInSeries</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
</dict>
</plist>
