<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show current time in chapter</string>
			<key>Key</key>
			<string>enableChapterTrack</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Delete finished downloads</string>
			<key>Key</key>
			<string>deleteFinishedDownloads</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Listen now settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable row &quot;authors&quot;</string>
			<key>Key</key>
			<string>showAuthorsRow</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable row &quot;discover&quot;</string>
			<key>Key</key>
			<string>disableDiscoverRow</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Miscellaneous</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable serif font</string>
			<key>Key</key>
			<string>useSerifFont</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show % instead of circular progress bar</string>
			<key>Key</key>
			<string>itemImageStatusPercentageText</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Playback</string>
			<key>FooterText</key>
			<string>This will rewind by 10 seconds if you have not listened to the item in the past 10 minutes or the sleep timer has ended</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip forwards amount</string>
			<key>Key</key>
			<string>skipForwardsInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>15 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip backwards amount</string>
			<key>Key</key>
			<string>skipBackwardsInterval</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>Titles</key>
			<array>
				<string>15 seconds</string>
				<string>30 seconds</string>
				<string>45 seconds</string>
				<string>60 seconds</string>
			</array>
			<key>Values</key>
			<array>
				<string>15</string>
				<string>30</string>
				<string>45</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Lock seek bar</string>
			<key>Key</key>
			<string>lockSeekBar</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Smart rewind</string>
			<key>Key</key>
			<string>smartRewind</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Playback-speed &amp; Sleep timer</string>
			<key>FooterText</key>
			<string>You can set a custom sleep timer duration in the account menu.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Playback speed adjustment</string>
			<key>Key</key>
			<string>playbackSpeedAdjustment</string>
			<key>DefaultValue</key>
			<string>0.25</string>
			<key>Titles</key>
			<array>
				<string>10%</string>
				<string>25%</string>
				<string>30%</string>
				<string>50%</string>
			</array>
			<key>Values</key>
			<array>
				<string>0.1</string>
				<string>0.25</string>
				<string>0.3</string>
				<string>0.5</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Sleep timer adjustment</string>
			<key>Key</key>
			<string>sleepTimerAdjustment</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>Titles</key>
			<array>
				<string>30 seconds</string>
				<string>60 seconds</string>
				<string>90 seconds</string>
				<string>2 minutes</string>
			</array>
			<key>Values</key>
			<array>
				<string>30</string>
				<string>60</string>
				<string>90</string>
				<string>120</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Siri integration</string>
			<key>FooterText</key>
			<string>Enabling offline mode will prevent Siri from discovering items that are not downloaded. If you request an episode Siri will always use the offline mode due to Audiobookshelf API limitations</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Siri offline mode</string>
			<key>Key</key>
			<string>siriOfflineMode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>File</key>
			<string>Acknowledgements</string>
		</dict>
	</array>
</dict>
</plist>
