<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INPlayMediaIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Spiele das Hörbuch 1984 mit ShelfPlayer</string>
				<string>Spiele die Episode &quot;Industrielle Gesellschaft und ihre Zukunft&quot; mit ShelfPlayer</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
