<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.rfk.shelfplayer.autoDownloadEpisodes</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>io.rfk.shelfplayer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shelfplayer</string>
			</array>
		</dict>
	</array>
	<key>CoreSpotlightActions</key>
	<array>
		<dict>
			<key>CoreSpotlightActionIdentifier</key>
			<string>play</string>
			<key>CoreSpotlightActionSymbolImage</key>
			<string>play.fill</string>
			<key>CoreSpotlightActionTitle</key>
			<string>Play</string>
		</dict>
		<dict>
			<key>CoreSpotlightActionIdentifier</key>
			<string>viewPodcast</string>
			<key>CoreSpotlightActionSymbolImage</key>
			<string>rectangle.stack</string>
			<key>CoreSpotlightActionTitle</key>
			<string>View Podcast</string>
		</dict>
	</array>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Shelf Player</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>shelfplayer</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict>
			<key>NSATSExceptionThirdPartyServiceConnectionUsage</key>
			<dict/>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>io.rfk.shelfplayer.audiobook</string>
		<string>io.rfk.shelfplayer.author</string>
		<string>io.rfk.shelfplayer.episode</string>
		<string>io.rfk.shelfplayer.podcast</string>
		<string>io.rfk.shelfplayer.series</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>ShelfPlayer</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlayDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
