<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.rfk.shelfPlayer.convenienceDownload</string>
		<string>io.rfk.shelfPlayer.spotlightIndex</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>io.rfk.shelfplayer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shelfplayer</string>
			</array>
		</dict>
	</array>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Shelf Player</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>shelfplayer</string>
		</dict>
	</array>
	<key>INIntentsSupported</key>
	<array>
		<string>INPlayMediaIntent</string>
	</array>
	<key>INSupportedMediaCategories</key>
	<array>
		<string>INMediaCategoryPodcasts</string>
		<string>INMediaCategoryAudiobooks</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsUsageDescription</key>
		<dict>
			<key>NSATSExceptionThirdPartyServiceConnectionUsage</key>
			<dict/>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>io.rfk.shelfPlayer.item</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>CPTemplateApplicationSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string>CPTemplateApplicationScene</string>
					<key>UISceneConfigurationName</key>
					<string>ShelfPlayer</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CarPlayDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Item</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>io.rfk.shelfPlayer.item</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
			<key>UTTypeConformsTo</key>
			<array>
				<string></string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>search</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Search all libraries</string>
		</dict>
	</array>
</dict>
</plist>
