//
//  Base.xcconfig
//  ShelfPlayer
//
//  Created by Rasmus Krämer on 23.01.24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 3.0.0
SWIFT_ACTIVE_COMPILATION_CONDITIONS = ENABLE_CENTRALIZED

WIDGETS_CODE_SIGN_ENTITLEMENTS = WidgetsExtension/Entitlements.entitlements
MULTIPLATFORM_CODE_SIGN_ENTITLEMENTS = Multiplatform/Entitlements.entitlements
